* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 8px;
}

hr {
  color: white;
  background: rgb(94, 58, 58);
}

.plus {
  border: 1.5px solid rgb(41, 186, 41);
}
.plus h4 {
  color: green;
}
.plus span i {
  color: rgb(132, 210, 14);
}

.minus {
  border: 1.5px solid rgb(190, 40, 20);
}
.minus h4 {
  color: rgb(194, 11, 11);
}
.minus span i {
  color: rgb(210, 14, 14);
}

body {
  font-family: "popines", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1a1e23;
}

.container {
  background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
  width: 80rem;
  padding: 1.5rem;
  box-shadow: rgba(15, 14, 14, 0.24) 0px 3px 8px;
  min-height: 90vh;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 30% 45% 28%;
}
.container header {
  margin: 1rem 0;
}
.container header .expense_title {
  font-size: 4.5rem;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 1.15rem;
}
.container header .cen {
  display: flex;
  justify-content: center;
}
.container header .balance {
  width: 50rem;
  height: 11rem;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 1rem;
}
.container header .balance h1 {
  font-size: 5rem;
  font-weight: bolder;
}
.container header .balance h4 {
  font-size: 3rem;
  font-weight: bold;
}
.container header .inc-exp-container {
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.container header .inc-exp-container .income {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  width: 48%;
  background: white;
  padding: 0 3rem 0 3rem;
  border: 0.5rem solid rgb(123, 203, 4);
}
.container header .inc-exp-container .income h2 {
  font-size: 3.5rem;
  color: green;
}
.container header .inc-exp-container .income h4 {
  font-size: 2rem;
  text-transform: uppercase;
}
.container header .inc-exp-container .expense {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  width: 48%;
  background: white;
  padding: 0 3rem 0 3rem;
  border: 0.5rem solid rgb(232, 11, 11);
}
.container header .inc-exp-container .expense h2 {
  font-size: 3.5rem;
  color: rgb(194, 48, 48);
}
.container header .inc-exp-container .expense h4 {
  font-size: 2rem;
  text-transform: uppercase;
}
.container main {
  margin: 1rem 0;
}
.container main .history .title-history {
  font-size: 4rem;
  padding-bottom: 1rem;
  margin: 1rem;
}
.container main .history .history-box {
  height: 40rem;
  overflow: hidden;
  overflow-y: scroll;
}
.container main .history .history-box li {
  font-size: 1.75rem;
  font-weight: bolder;
  list-style: none;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 0 1.15rem;
  border-radius: 1rem;
  margin-bottom: 1.25rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.container main .history .history-box li h4 {
  font-size: 3rem;
}
.container main .history .history-box li #display_date {
  font-size: 2.25rem;
}
.container main .history .history-box li #price {
  font-size: 2.75rem;
}
.container main .history .history-box li #price i {
  margin: 0 1rem;
}
.container main .history .history-box li #price #dlt_icon:hover {
  font-size: 4rem;
}
.container main .history .history-box li #price #edit_icon:hover {
  font-size: 4rem;
}
.container footer {
  margin: 1rem 0;
}
.container footer .transcation {
  height: 100%;
}
.container footer .transcation .transaction-title {
  margin-top: 2rem;
  font-size: 3rem;
  margin-bottom: 0.6rem;
}
.container footer .transcation .transection-form {
  display: flex;
  flex-direction: column;
}
.container footer .transcation .transection-form .input-section input {
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  width: 48%;
}
.container footer .transcation .transection-form .input-section input::-moz-placeholder {
  font-size: 2rem;
  font-weight: bold;
}
.container footer .transcation .transection-form .input-section input::placeholder {
  font-size: 2rem;
  font-weight: bold;
}
.container footer .transcation .transection-form input {
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: bold;
}
.container footer .transcation .transection-form button {
  background: #000;
  padding: 1.25rem 3.25rem;
  font-size: 2.75rem;
  font-weight: bolder;
  color: white;
  border-radius: 1rem;
}/*# sourceMappingURL=style.css.map */